html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body > :is(h1, h2, h3, h4, h5) {
  flex-grow: 0;
  flex-shrink: 0;

  &.active {
    color: red;
  }
}

div.area {
  display: none;
}

section.page {
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  > img {
    position: absolute;
  }
}
